<form [formGroup]="bankform">
    <label>acctount name</label>
    <input type="text" formControlName="account_name"><br>

    <label>availble balance</label>
    <input type="text" formControlName="available_balance"><br>

    <label>account number</label>
    <input type="text" formControlName="account_number"><br>

    <label>city</label>
    <input type="text" formControlName="city"><br>

    <label>profile pic</label>
    <input type="text" formControlName="profie_picture"><br>

    <label>id</label>
    <input type="text" formControlName="id"><br>

    <button (click)="submit()">submit</button>

</form>
