.parent{
    width: 80vw;
    height: 100vh;
    background-color: gray;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child{
    width: 20%;
    height: 30%;
  
}
.dise{
    width: 100%;
    height: 100%;

}
.button{
 width: 100%;
 background-color:green;
 border-radius: 5px;
 border: 0;
 cursor: pointer;
}
h1{
    text-align: center;
    text-transform: capitalize;
}