<div class="parent">
<div class="left">
  <div class="top"><h1>my website</h1></div>
  <hr>
  <div class="middle">
    <h3 routerLink="home">home</h3>
    <h3 routerLink="welcome">welcome</h3>
  <h3 routerLink="databinding">databinding</h3>
  <h3 routerLink="calculator">calculator</h3>
  <h3 routerLink="rectangular">rectangle</h3>
  <h3 routerLink="circle">circle</h3>
  <h3 routerLink="BMI">BMI</h3>
  <h3 routerLink="dise">dise</h3>
 <h3 routerLink="directives" >directives</h3>
 <h3 routerLink="pipes" >pipes</h3>
 <h3 routerLink="tasks" >tasks</h3>
 <h3 routerLink="flipkart">flipkart</h3>
 <h3 routerLink="higher-order">hiher-order</h3>
 <h3 routerLink="amazon">amazon</h3>
 <h3 routerLink="office">office</h3>
 <h3 routerLink="vehicle">vehicle</h3>
 <h3 routerLink="accounts">Bank Accounts</h3>
 <h3 routerLink="meesho">Meesho</h3>
 <h3 routerLink="gmail">Gmail</h3>
 <h3 routerLink="createvehicle">create vehicles</h3>
 <h3 routerLink="createbank">create baank Accounts</h3>
 <h3 routerLink="studentcard">student card</h3>
 <h3 routerLink="create-user">create-user</h3>
 <h3 routerLink="dummy">dummy</h3>
  </div>
    <hr>
  <div class="bottom"><button (click)="logout()">logout</button></div>
    
</div>
<div class="right">
    <router-outlet></router-outlet>
</div>
</div>
