<div class="parent">
    <div class="child">
        <br><br><br>
        <label for="">lenth:</label>
        <input type="number" [(ngModel)]="w" ><br>

        <label for="">width:</label>
        <input type="number" [(ngModel)]="l"><br><br>
        <div class="but">
        <div class="b1">
      <button (click)="area()">area</button></div>
      <div class="b2">
      <button (click)="peri()" >perimeter</button></div>
    </div>
      <div class="r">
        <h1>result is {{r}}</h1>
    </div>
    </div>
   
</div>
