<br><br>
<input type="text" placeholder="serch" [(ngModel)]="term" (keyup)="serch()">

<br><br>
  <label for="">column</label>
  <select [(ngModel)]="column">
    <option>Vehicle</option>
    <option>manufacturer</option>
    <option>model</option>
    <option>type</option>
    <option>fuel</option>
    <option>color</option>
    <option>cost</option>
    <option>id</option>
   
  </select>

  <label for="">order</label>
   <select [(ngModel)]="order">
  <option value="asc">Ascending</option>
  <option value="desc">Descending</option>

   </select>
   <button (click)="sort()">sort</button>
   <br>
   <br>
   <select [(ngModel)]="page" (change)="pagenation()">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
   </select>
<table border="1">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
            <th>cost</th>
            <th>id</th>
            <th>action</th>

        </tr>
    </thead>
    <tbody>
           <tr *ngFor="let Vehicle of vehicles">
            <td>{{Vehicle.Vehicle}}</td>
            <td>{{Vehicle.manufacturer}}</td>
            <td>{{Vehicle.model}}</td>
            <td>{{Vehicle.type}}</td>
            <td>{{Vehicle.fuel}}</td>
            <td>{{Vehicle.color}}</td>
            <td>
                <img src="{{Vehicle.image}}" alt="" width="200px" height="200px">
            </td>
            <td>{{Vehicle.cost}}</td>
            <td>{{Vehicle.id}}</td>
            <td>
                <button routerLink="../vehicle-details/{{Vehicle.id}}">view</button>
                <button (click)="del(Vehicle.id)">delete</button>
            </td>

           </tr>
    </tbody>
</table>
